<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PizzaApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PizzaApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Debug
							</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
								<a class="dropdown-item" asp-area="" asp-controller="Complaints" asp-action="Index">Complaints</a>
								<a class="dropdown-item" asp-area="" asp-controller="Dishes" asp-action="Index">Dishes</a>
								<a class="dropdown-item" asp-area="" asp-controller="DishIngredients" asp-action="Index">DishIngredients</a>
								<a class="dropdown-item" asp-area="" asp-controller="Ingredients" asp-action="Index">Ingredients</a>
								<a class="dropdown-item" asp-area="" asp-controller="MenuItemDishes" asp-action="Index">MenuItemDishes</a>
								<a class="dropdown-item" asp-area="" asp-controller="MenuItems" asp-action="Index">MenuItems</a>
								<a class="dropdown-item" asp-area="" asp-controller="OrderMenuItemDishes" asp-action="Index">OrderMenuItemDishes</a>
								<a class="dropdown-item" asp-area="" asp-controller="OrderMenuItems" asp-action="Index">OrderMenuItems</a>
								<a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
								<a class="dropdown-item" asp-area="" asp-controller="ReservationRestaurantTables" asp-action="Index">ReservationRestaurantTables</a>
								<a class="dropdown-item" asp-area="" asp-controller="Reservations" asp-action="Index">Reservations</a>
								<a class="dropdown-item" asp-area="" asp-controller="RestaurantMenuItems" asp-action="Index">RestaurantMenuItems</a>
								<a class="dropdown-item" asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
								<a class="dropdown-item" asp-area="" asp-controller="RestaurantTables" asp-action="Index">RestaurantTables</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="CreateComplaint">Add new Complaint</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="CreateReservation">Add new Reservation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Wholesalers" asp-action="Index">Wholesalers</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2021 - PizzaApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
