@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-image" style=" position: relative;
        background-image: url(https://image.freepik.com/free-photo/man-putting-mozzarella-baked-pizza-dough-with-smoked-salmon-slices_23-2148785700.jpg);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;"
     data-toggle="popover" data-trigger="hover" title="JUMBOTRON">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>

<div class="row">
    <div class="col-md-8">
        <h2>Team: </h2>
        <u1>
            <li>Katarzyna Bartoszek</li>
            <li>Dominik Bistyga</li>
            <li>Marek Kinasz</li>
            <li>Wojciech Król</li>
            <li>Tomasz Skowron</li>
            <li>Paulina Urbas</li>
        </u1>
    </div>
    <div class="col-md-4">
        <h2>Techonology stack </h2>
        <u1>
            <li>ASP .NET</li>
            <li>Visual Studio 2022</li>
            <li>C#</li>
            <li>SQL Server</li>
        </u1>
    </div>

</div>



