@model PizzaApp.Models.RestaurantIngredient

@{
	ViewData["Title"] = "Create";
}

<div class="row">
	<div class="col-10">
		<h1>Add ingredient</h1>
	</div>
	<div class="col-2">
		<a class="btn btn-outline-dark" style="top: 10px; position: absolute; width: 80%" asp-action="Index" asp-route-restaurantId="@Model.RestaurantId">Return</a>
	</div>
</div>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			@Html.Hidden("RestaurantId")
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="IngredientId" class="control-label">Ingredient</label>
				<select asp-for="IngredientId" class="form-control" asp-items="ViewBag.IngredientId"></select>
			</div>
			<div class="form-group">
				<label asp-for="Quantity" class="control-label"></label>
				<input asp-for="Quantity" class="form-control" />
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
